.team {
  &-data-wrap {
    display: flex;

    .sidebar {
      padding: 10px 20px;
    }

    .content {
      flex-grow: 1;
      border-left: 1px solid #b9b9b9;
      padding: 0 20px;
    }

    .squad {
      display: flex;
      flex-wrap: wrap;

      .player {
        &-wrap {
          width: 25%;
          overflow: hidden;
          padding: 20px;
        }

        &-thumb {
          display: block;
          width: 40%;
          margin: 0 auto 15px;
        }

        &-name {
          font: 300 24px "Fjalla One";
          margin: 0 0 15px;
          text-align: center;
          color: #006bb6;
        }

        &-info {
          list-style-type: none;
          padding: 0;
          margin: 0;

          li {
            margin-bottom: 5px;

            strong {
              font-weight: 700;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }

  &-logo {
    width: 150px;
    height: auto;
  }
}