.subscribe-panel {
  padding: 40px;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;

  .title {
    font: 300 34px 'Fjalla One';
    margin: 0 0 20px;
  }

  .input-style {
    max-width: 320px;
    width: 100%;

    border-radius: 20px;
    border: 2px solid #ddd;

    text-align: center;
    padding: 10px;
    font-size: 22px;
    margin-bottom: 15px;

    &:focus {
      outline-width: 0;
    }
  }

  .description {
    font-size: 14px;
    margin: 0;
  }

  .error {
    color: #f33226;
    font-size: 12px;
  }

  .success-msg {
    color: #4caf50;
  }
}
