.item-slider {
  font-family: "Fjalla One";
  height: 600px;
  text-align: right;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;

  .caption {
    display: inline-block;
    width: 40%;
    min-width: 300px;
    padding: 20px;
    text-transform: uppercase;
    color: #fff;
  }

  .topic {
    font-weight: 300;
    font-size: 36px;
    margin: 0;
  }

  .title {
    font-size: 70px;
    margin: 0;
  }
}
